name: Security Scan

on: [push, pull_request]

jobs:
  bandit:
    runs-on: ubuntu-latest
    permissions:
      security-events: write # Requis pour afficher les rapports dans GitHub Security
      actions: read
      contents: read
    
    steps:
      - uses: actions/checkout@v4
      
      - name: Run Bandit Scan
        uses: PyCQA/bandit-action@v1
        with:
          python_version: "3.11"
          args: "-r . -c bandit.yaml -ll" # -ll = sévérité Medium et High uniquement
