@import url(add-product.css);
@import url(contrats.css);
@import url(global.css);
@import url(variables.css);
@import url(login.css);
@import url(dashboard.css);
@import url(stock.css);
@import url(historique.css);